body{
    background-color: rgb(250,250,250);
    /*width: 1350px;*/
}

/*dynamic ticket field*/
#taiwanID:focus{
    border-color: rgba(255, 0, 0, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
    outline: 0 none;
}

/*timetable query*/
.timetable{
    background-color: white;
    width:100%;
    border:2px solid #aaa;
    border-radius:4px;
    margin:14px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
}

input:focus,select:focus{
    border-color:dodgerBlue;
    box-shadow:0 0 8px 0 dodgerBlue;
}

.inputWithIcon input,.inputWithIcon select{
    /*padding-right:40px;*/
}

.inputWithIcon{
    position:relative;
}

.inputWithIcon i{
    z-index: 2;
    position:absolute;
    right:0;
    top:14px;
    padding:9px 8px;
    color:#aaa;
    transition:.3s;
}

.inputWithIcon input:focus + i,.inputWithIcon select:focus + i{
    color:dodgerBlue;
}

.inputWithIcon .inputIconBg i{
    background-color:#aaa;
    color:#fff;
    padding:9px 4px;
    border-radius:4px 0 0 4px;
}

.inputWithIcon.inputIconBg input:focus + i,.inputWithIcon.inputIconBg select:focus + i{
    color:#fff;
    background-color:dodgerBlue;
}

select{
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}

.revision04_search_btn {
	float: right;
	margin-top: 10px;
	background-image: url(revision04_search.jpg);
	width: 50px;
	height: 50px;
	cursor: pointer;
        vertical-align: top;
}

/*carousel*/
.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
}

/*news or something*/
.revision05_focuslist_title{
	font-size: 20px;
	font-weight: bold;
	color: #d85221;
	line-height: 70px;
	height: 70px;
}
.card{
    margin: 10px;
}


/*timetable show*/
.overlay {
    background-image: url('loading_spinner.gif');
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 99;
    cursor: pointer;
}

.text{
    height: 75%;
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}